@font-face {
  font-family: Outfit;
}

body {
  background-color: #262626;
  font-family: "Outfit", sans-serif;
  color: #fafafa;
  max-width: 600px;
  margin: 0 auto;
}

#mainTable {
  background-color: rgb(47,47,47);
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 10px 5px;
  width: 100%;
  table-layout: fixed;
}

#leftField {
  height: 200px;
  border: 1px solid #000;
  cursor: pointer;
}

#rightField {
  height: 200px;
  border: 1px solid #000;
  cursor: pointer;
}

.middleField {
  width: 120px;
  height: 100px;
  border: 1px solid #000;
  cursor: pointer;
}

a {
  color: #e097d9;
  text-decoration: none;
}

a:hover {
  color: #8f8f8f;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
