@font-face {
  font-family: Outfit;
  href:"https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
}

body {
  background-color: 000000;
  font-family: "Outfit", sans-serif;
  color: fafafa;
  max-width: 600px;
  margin: 0 auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mainTable {
  font-size: 19px;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 10px 5px;
  width: 100%;
  table-layout: fixed;
}

#leftField {
  height: 150px;
  border: 1px solid #000;
  cursor: pointer;
}

#rightField {
  height: 150px;
  border: 1px solid #000;
  cursor: pointer;
}

.middleField {
  width: 120px;
  height: 70px;
  border: 1px solid #000;
  cursor: pointer;
}

a {
  color: #e097d9;
  text-decoration: none;
}

a:hover {
  color: #8f8f8f;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: black;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
